.post-section{
    height: 100vh;
    width: 100%;
    // color: #fff;
    background-attachment: fixed;
    position: relative;
}
.post-section .clipping {
    clip: rect(auto,auto,auto,auto);
    clip-path: polygon(100% 0,100% 100%,0 100%,0 0);
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}

.post-section .clipping .post-content {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
}
.post-content{
    // border: 1px dashed #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
}

.panel{
    // border: 1px dashed blue;
    margin: 0px 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "img img text";

    .img-section{
        grid-area: img;
    }
    .text-section{
        grid-area: text;
        padding-top: 150px;
        // font-size: 38px;

        h2{
            font-size: 42;
            font-weight: 700;
        }
        p{
            font-size: 24;
            font-weight: 300;
        }
    }
}

.entry-number{
    font-size: 80px;
}

.featured-image{
    width: 90%;
    height: 475px;
    background-size: cover;
    box-shadow: 15px 15px 75px hsla(0, 0%, 0%, 0.3);
}


.section-odd{
    // background-color: $color-secondary;
    background-image: linear-gradient(150deg, $color-secondary, adjust-hue($color-secondary, -10%) );
    color: $color-white;

    .entry-number{
        color: hsla(0, 100%, 100%, 0.3);
    }
}
.section-even{
    // background-color: $color-third;
    background-image: linear-gradient(150deg, $color-white, change_color($color-white, $hue: 240, $saturation: 50, $lightness: 92%));
    color: $color-primary;

    .entry-number{
        // color: hsla(0, 0%, 0%, 0.1);
        color: hsla(0, 0%, 0%, 0.1);
    }
}
