.site-header{
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: $color-header-background;
    background-image: linear-gradient(150deg, transparent, #00e2ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.site-header .clipping {
    clip: rect(auto,auto,auto,auto);
    clip-path: polygon(100% 0,100% 100%,0 100%,0 0);
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}

.site-header .clipping .header-content {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 100;
    left: 0;
    margin: auto;
}
.header-content{
    position: absolute;
}